{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}

    <!-- Listado de Conferencias -->
    {% for conference in conferences %}
        <div class="conference">
            <h4>{{ conference }}</h2>
            <p>
                <a href="{{ path('conference', { 'id': conference.id }) }}">
                    View Comments
                </a>
            </p>
        </div>
    {% else %}
        <p>No conferences available.</p>
    {% endfor %}

{% endblock %}
