{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}

    <h1>Welcome to the Conference! {{ name }}</h1>
    <img src="{{ asset('images/under-construction.jpg') }}" alt="Conference Image" style="width: 100%; height: auto;">

{% endblock %}
